nav {
    background: radial-gradient(80%, 80%, 50%, 20%, rgba(217, 216, 255, 0.5), rgba(255, 255, 255, 0.9));
    color: var(--text-color);
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
    animation: header-blur-scroll 0.6s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.titulo {
    background-image: linear-gradient(to right,
            var(--primary-color),
            var(--primary-color) 50%,
            var(--text-color) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: text;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.titulo:before {
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.titulo:hover {
    background-position: 0;
}

.titulo:hover::before {
    width: 100%;
}


.animate-moving-shadow {
    animation: moving-shadow 2s infinite linear;
}

.estado {
    padding: .25rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    animation: moving-shadow-state 2s infinite linear;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.025);
    }
}

@keyframes header-blur-scroll {
    0% {
        background: radial-gradient(80%, 80%, 50%, 20%, rgba(217, 216, 255, 0.5), rgba(255, 255, 255, 0.9));
    }

    50% {
        background-color: var(--background-color);
    }

    100% {
        box-shadow: 2px 2px 20px var(--primary-color);
        background-color: var(--background-color);
    }
}

@keyframes moving-shadow {
    0% {
        box-shadow: 5px 0 10px var(--primary-color);
    }

    25% {
        box-shadow: 0 5px 10px var(--primary-color);
    }

    50% {
        box-shadow: -5px 0 10px var(--primary-color);
    }

    75% {
        box-shadow: 0 -5px 10px var(--primary-color);
    }

    100% {
        box-shadow: 5px 0 10px var(--primary-color);
    }
}

@keyframes moving-shadow-state {
    0% {
        box-shadow: 2px 0 4px var(--primary-color);
    }

    25% {
        box-shadow: 0 2px 4px var(--primary-color);
    }

    50% {
        box-shadow: -2px 0 4px var(--primary-color);
    }

    75% {
        box-shadow: 0 -2px 4px var(--primary-color);
    }

    100% {
        box-shadow: 2px 0 4px var(--primary-color);
    }
}
