<nav class="w-full fixed top-0 z-50 box-border">
  <div class="flex py-2 max-w-5xl mx-8 lg:mx-auto justify-between items-center">
    <div>
      <a href="#head">
        <img src="../assets/img/{{mode == 'dark' ? 'logo' : 'logo-oscuro'}}.png" alt="Logo"
          class="w-20 h-[43px] rounded-md object-cover cursor-pointer">
      </a>
    </div>
    <div class="flex gap-4 items-center">
      <a href="#" class="titulo">Experience</a>
      <a href="#" class="titulo">Skills</a>
      <a href="#" class="titulo">Projects</a>
      <a href="#" class="titulo">About</a>
      <a href="#" class="titulo">Contact</a>
    </div>
    <div class="flex items-center cursor-pointer hover:scale-110 transition-transform">
      <span class="material-symbols-outlined" (click)="toggleMode()">
        {{ mode === 'light' ? 'light_mode' : 'dark_mode' }}
      </span>
    </div>
  </div>
</nav>
<header class="py-36 max-w-5xl mx-8 lg:mx-auto" id="head">
  <div class="flex gap-12">
    <img src="../assets/img/perfil.jpg" alt="Logo" class="rounded-md w-32 object-cover animate-moving-shadow">
    <div class="flex flex-col justify-between gap-4">
      <span class="text-4xl">Hola buenas, soy <span
          class="!font-semibold text-[var(--primary-color)]">Óscar</span></span>
      <span class="text-xl">+{{getYears()}} años de experiencia como <span
          class="!font-semibold text-[var(--primary-color)]">Full-Stack Developer</span> en aplicaciones web
        responsivas, escalables y
        de alto rendimiento.</span>
      <div class="flex gap-4">
        <div class="estado flex items-center text-sm text-center">Abierto a nuevas oportunidades</div>
        <div
          class="flex cursor-pointer border hover:scale-105 transition-transform border-[var(--text-color)] rounded-full items-center gap-2 py-1 px-4 text-sm">
          <span class="material-symbols-outlined"> forward_to_inbox</span> Contáctame</div>
      </div>
    </div>
  </div>
</header>
<main class="max-w-5xl mx-8 lg:mx-auto">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis architecto neque error, placeat non
  illum nostrum nobis quasi? Nemo quam ipsum quod dolores eaque deleniti rerum quae suscipit debitis.
  Facilis nulla delectus nesciunt quam, dolorem amet, hic explicabo ipsum voluptate perferendis inventore debitis
  repellat tempora excepturi adipisci dicta est ea nostrum. Illum esse in corporis, nesciunt fugit nulla placeat!
  Doloribus aliquam accusantium nam libero, fugit tenetur cum dolores, eum fugiat corporis odit velit quae excepturi
  magnam minima reiciendis ad neque ipsam debitis deleniti nesciunt optio inventore. Voluptas, tenetur totam.
  Placeat maxime debitis mollitia cum, at animi quod eaque possimus magnam expedita ea provident libero id
  exercitationem adipisci ex earum. Accusamus eaque eos at nemo minus ducimus ipsam. Incidunt, placeat!
  Quasi rem labore repellendus, magni id, odit voluptatibus perferendis eum hic corrupti ex perspiciatis similique
  obcaecati delectus architecto distinctio saepe tempora voluptas totam maxime assumenda. Nisi provident tempora et
  ullam?
  Impedit dolores beatae, explicabo saepe iusto dignissimos perspiciatis animi ratione, odio nemo ab, quae voluptas aut
  nam atque cumque reiciendis exercitationem iure id. Blanditiis deleniti qui ratione nihil nam dolore.
  Ea modi labore harum sunt facilis in a vero ut facere! Ratione dolor quis eveniet cumque minus. Earum sequi laboriosam
  accusamus doloribus, soluta id culpa dolore non consequatur rerum impedit.
  Officia natus voluptatibus neque molestias dolorem, repellendus reiciendis exercitationem ullam facere totam illum,
  quas minus excepturi quibusdam, sed inventore id rerum aliquam ex maiores corrupti praesentium autem eius rem! Facere.
  Doloremque tempore consequatur placeat, tempora aperiam esse nesciunt animi! Asperiores nam esse, porro autem, rem
  voluptates molestias voluptatem alias, perferendis id officia illum illo reprehenderit perspiciatis nemo. Quisquam,
  voluptatum omnis!
  Hic vel alias voluptatem soluta qui! Nobis iure inventore nostrum facilis ipsum voluptate ratione pariatur veniam eos
  officiis! Quas laboriosam deleniti sit! Obcaecati ipsa reiciendis, corrupti aliquam aliquid perferendis rem?
  Soluta perferendis pariatur error ab quam esse. Libero perspiciatis incidunt sunt itaque inventore exercitationem
  corporis maxime facere in possimus pariatur distinctio odit, natus nesciunt ea quas nobis suscipit! Aut, officia.
  Beatae magnam pariatur at cumque. Commodi inventore accusantium incidunt voluptatum tempore earum sint velit dolores,
  esse fugit sequi quaerat sit. Commodi eligendi debitis praesentium consequuntur nihil, sapiente mollitia consequatur
  voluptate!
  Aspernatur, est reprehenderit placeat maiores doloremque temporibus quasi praesentium accusantium natus adipisci
  doloribus, exercitationem cupiditate obcaecati repellat quibusdam ab id, magnam mollitia unde? Soluta cupiditate
  excepturi esse, laboriosam magni suscipit!
  Cum aliquam quidem sit, vitae dolores obcaecati natus. Veniam consequatur totam aliquid facere ipsum nam, doloremque
  accusamus magni saepe. Repudiandae quos excepturi tempore enim repellat earum sint doloremque expedita eius.
  Ipsum harum porro numquam? Unde, eius deleniti. Deserunt tempora odit accusamus facilis nobis! Cumque voluptas atque
  saepe quos voluptate corrupti. Consequatur corporis reprehenderit quam quos commodi provident delectus in ipsa!
  Praesentium ab sint labore mollitia dolores! Eum odit saepe eaque aliquid enim deserunt quo asperiores laborum commodi
  tenetur. Quaerat voluptates fuga cumque odit deleniti dolorum tempora sit ullam libero non!
  Tempora fugit vel hic qui amet distinctio veritatis, molestias rerum quia corrupti eaque quae a officia obcaecati
  aperiam iusto odio repudiandae suscipit assumenda quidem enim deserunt dicta? Impedit, doloribus illo.
  Ipsum eius provident officiis incidunt aliquam iste quas repellendus labore eaque dolorum eligendi mollitia, nisi
  dolores laborum sed nemo modi dolorem rem perspiciatis iure maxime voluptates. Enim laudantium quisquam vel!
  Possimus tempore voluptatem, neque saepe porro, impedit natus error enim vitae perferendis sunt nisi non placeat.
  Voluptate ut quos suscipit? Esse illum mollitia non in quae vel necessitatibus nesciunt veniam?
  Sit soluta obcaecati quaerat unde sequi libero, maxime quibusdam laborum eveniet cum assumenda ea rerum provident
  aliquid sed eligendi nam recusandae nisi quod repudiandae expedita cupiditate explicabo! Ullam, velit error!
  Vel, libero quia, voluptatibus laudantium voluptatum neque ea magni eos, esse magnam numquam ullam fugit
  necessitatibus aliquam accusamus vitae repellendus perferendis maiores quod modi? Quod quo architecto corrupti.
  Aperiam, expedita.
  Magni, molestiae nulla neque nihil ducimus sapiente! Est animi quos maxime molestias consequuntur non laudantium culpa
  harum voluptatem! Recusandae, laudantium totam. Dolore quas quaerat maxime aliquam perspiciatis quos expedita earum.
  Ipsa amet, alias earum fugiat, inventore consectetur facere corporis cum adipisci libero, veniam ea itaque doloribus
  sequi eos natus? Pariatur corporis earum exercitationem adipisci cumque debitis quasi molestias, nostrum quae.
  Delectus repudiandae illo itaque saepe officiis cumque, iste ipsum fuga, qui voluptates maiores accusantium? Illum,
  iusto! Recusandae et quam, rem ipsa officiis nihil error! Corporis dignissimos ut pariatur eaque dolorum?
  Quidem, quo. Quibusdam doloremque rem excepturi laboriosam dicta dolorum provident sit aut esse reiciendis, quasi
  minima delectus minus. Non, cumque consectetur corporis delectus nesciunt voluptatibus sunt nobis assumenda inventore
  esse!
</main>
<footer class="max-w-5xl mx-auto">
  Footer
</footer>