<nav class="w-full fixed top-0 z-50 box-border">
  <div class="flex py-2 max-w-5xl mx-8 lg:mx-auto justify-between items-center">
    <div>
      <a href="#">
        <img src="../assets/img/{{mode == 'dark' ? 'logo' : 'logo-oscuro'}}.png" alt="Logo"
          class="w-20 h-[43px] rounded-md object-cover cursor-pointer">
      </a>
    </div>
    <div class="flex gap-4 items-center">
      <a href="#" class="titulo">Experience</a>
      <a href="#" class="titulo">Skills</a>
      <a href="#" class="titulo">About</a>
      <a href="#" class="titulo">Contact</a>
    </div>
    <div class="flex items-center cursor-pointer hover:scale-110 transition">
      <span class="material-symbols-outlined" (click)="toggleMode()">
        {{ mode === 'light' ? 'light_mode' : 'dark_mode' }}
      </span>
    </div>
  </div>
</nav>
<main class="max-w-5xl mx-8 lg:mx-auto">
  <header class="py-36">
    <img src="../assets/img/perfil.jpg" alt="Logo"
      class="rounded-md w-28 object-cover shadow-[2px_2px_10px_var(--primary-color)]">
  </header>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis architecto neque error, placeat non
  illum nostrum nobis quasi? Nemo quam ipsum quod dolores eaque deleniti rerum quae suscipit debitis.
  Facilis nulla delectus nesciunt quam, dolorem amet, hic explicabo ipsum voluptate perferendis inventore debitis
  repellat tempora excepturi adipisci dicta est ea nostrum. Illum esse in corporis, nesciunt fugit nulla placeat!
  Doloribus aliquam accusantium nam libero, fugit tenetur cum dolores, eum fugiat corporis odit velit quae excepturi
  magnam minima reiciendis ad neque ipsam debitis deleniti nesciunt optio inventore. Voluptas, tenetur totam.
  Placeat maxime debitis mollitia cum, at animi quod eaque possimus magnam expedita ea provident libero id
  exercitationem adipisci ex earum. Accusamus eaque eos at nemo minus ducimus ipsam. Incidunt, placeat!
  Quasi rem labore repellendus, magni id, odit voluptatibus perferendis eum hic corrupti ex perspiciatis similique
  obcaecati delectus architecto distinctio saepe tempora voluptas totam maxime assumenda. Nisi provident tempora et
  ullam?
  Impedit dolores beatae, explicabo saepe iusto dignissimos perspiciatis animi ratione, odio nemo ab, quae voluptas aut
  nam atque cumque reiciendis exercitationem iure id. Blanditiis deleniti qui ratione nihil nam dolore.
  Ea modi labore harum sunt facilis in a vero ut facere! Ratione dolor quis eveniet cumque minus. Earum sequi laboriosam
  accusamus doloribus, soluta id culpa dolore non consequatur rerum impedit.
  Officia natus voluptatibus neque molestias dolorem, repellendus reiciendis exercitationem ullam facere totam illum,
  quas minus excepturi quibusdam, sed inventore id rerum aliquam ex maiores corrupti praesentium autem eius rem! Facere.
  Doloremque tempore consequatur placeat, tempora aperiam esse nesciunt animi! Asperiores nam esse, porro autem, rem
  voluptates molestias voluptatem alias, perferendis id officia illum illo reprehenderit perspiciatis nemo. Quisquam,
  voluptatum omnis!
  Hic vel alias voluptatem soluta qui! Nobis iure inventore nostrum facilis ipsum voluptate ratione pariatur veniam eos
  officiis! Quas laboriosam deleniti sit! Obcaecati ipsa reiciendis, corrupti aliquam aliquid perferendis rem?
  Soluta perferendis pariatur error ab quam esse. Libero perspiciatis incidunt sunt itaque inventore exercitationem
  corporis maxime facere in possimus pariatur distinctio odit, natus nesciunt ea quas nobis suscipit! Aut, officia.
  Beatae magnam pariatur at cumque. Commodi inventore accusantium incidunt voluptatum tempore earum sint velit dolores,
  esse fugit sequi quaerat sit. Commodi eligendi debitis praesentium consequuntur nihil, sapiente mollitia consequatur
  voluptate!
  Aspernatur, est reprehenderit placeat maiores doloremque temporibus quasi praesentium accusantium natus adipisci
  doloribus, exercitationem cupiditate obcaecati repellat quibusdam ab id, magnam mollitia unde? Soluta cupiditate
  excepturi esse, laboriosam magni suscipit!
  Cum aliquam quidem sit, vitae dolores obcaecati natus. Veniam consequatur totam aliquid facere ipsum nam, doloremque
  accusamus magni saepe. Repudiandae quos excepturi tempore enim repellat earum sint doloremque expedita eius.
  Ipsum harum porro numquam? Unde, eius deleniti. Deserunt tempora odit accusamus facilis nobis! Cumque voluptas atque
  saepe quos voluptate corrupti. Consequatur corporis reprehenderit quam quos commodi provident delectus in ipsa!
  Praesentium ab sint labore mollitia dolores! Eum odit saepe eaque aliquid enim deserunt quo asperiores laborum commodi
  tenetur. Quaerat voluptates fuga cumque odit deleniti dolorum tempora sit ullam libero non!
  Tempora fugit vel hic qui amet distinctio veritatis, molestias rerum quia corrupti eaque quae a officia obcaecati
  aperiam iusto odio repudiandae suscipit assumenda quidem enim deserunt dicta? Impedit, doloribus illo.
  Ipsum eius provident officiis incidunt aliquam iste quas repellendus labore eaque dolorum eligendi mollitia, nisi
  dolores laborum sed nemo modi dolorem rem perspiciatis iure maxime voluptates. Enim laudantium quisquam vel!
  Possimus tempore voluptatem, neque saepe porro, impedit natus error enim vitae perferendis sunt nisi non placeat.
  Voluptate ut quos suscipit? Esse illum mollitia non in quae vel necessitatibus nesciunt veniam?
  Sit soluta obcaecati quaerat unde sequi libero, maxime quibusdam laborum eveniet cum assumenda ea rerum provident
  aliquid sed eligendi nam recusandae nisi quod repudiandae expedita cupiditate explicabo! Ullam, velit error!
  Vel, libero quia, voluptatibus laudantium voluptatum neque ea magni eos, esse magnam numquam ullam fugit
  necessitatibus aliquam accusamus vitae repellendus perferendis maiores quod modi? Quod quo architecto corrupti.
  Aperiam, expedita.
  Magni, molestiae nulla neque nihil ducimus sapiente! Est animi quos maxime molestias consequuntur non laudantium culpa
  harum voluptatem! Recusandae, laudantium totam. Dolore quas quaerat maxime aliquam perspiciatis quos expedita earum.
  Ipsa amet, alias earum fugiat, inventore consectetur facere corporis cum adipisci libero, veniam ea itaque doloribus
  sequi eos natus? Pariatur corporis earum exercitationem adipisci cumque debitis quasi molestias, nostrum quae.
  Delectus repudiandae illo itaque saepe officiis cumque, iste ipsum fuga, qui voluptates maiores accusantium? Illum,
  iusto! Recusandae et quam, rem ipsa officiis nihil error! Corporis dignissimos ut pariatur eaque dolorum?
  Quidem, quo. Quibusdam doloremque rem excepturi laboriosam dicta dolorum provident sit aut esse reiciendis, quasi
  minima delectus minus. Non, cumque consectetur corporis delectus nesciunt voluptatibus sunt nobis assumenda inventore
  esse!
  Mollitia, dolorum velit ab blanditiis asperiores distinctio nostrum reprehenderit nihil harum cum, numquam,
  perferendis repellendus laudantium debitis nobis optio nesciunt alias nemo saepe impedit consequuntur modi aliquam
  delectus sapiente? Soluta.
  Delectus dolores ipsam aliquam deserunt unde voluptatibus, quo, natus quisquam asperiores reiciendis animi illo atque.
  Eius tempora, earum, sit explicabo eligendi sed harum commodi suscipit aliquam quibusdam aut labore eveniet.
  Error quos dolor totam voluptate assumenda, autem deleniti praesentium tenetur obcaecati perferendis placeat
  temporibus porro dignissimos natus alias consectetur laboriosam. Ad fugiat, assumenda facere nisi omnis mollitia odit
  a repellendus!
  Libero autem maxime repellat eveniet nisi odio corporis possimus non veniam quas qui ut, ullam alias rerum rem!
  Veritatis, porro ratione repudiandae quidem error laboriosam voluptates inventore assumenda ea ex!
  Quisquam, perspiciatis recusandae, reiciendis culpa labore rem necessitatibus explicabo, facere odit laborum
  consequuntur quia eveniet iste odio ad cumque? Reiciendis, voluptatibus! Facilis ut quas doloribus maiores quisquam,
  placeat corporis incidunt?
  Debitis laborum vero velit voluptas iusto adipisci non facere possimus excepturi laboriosam eligendi, labore molestiae
  perferendis nihil nesciunt dolorem maxime ipsa eos. Id reiciendis aliquam saepe dolore! Ipsa, totam in?
  Asperiores nobis ipsa molestias, esse corrupti cum explicabo nulla magnam debitis aspernatur obcaecati suscipit eos
  quis recusandae labore amet! Vero laborum perspiciatis iure eaque consequuntur doloremque provident aliquam
  repellendus voluptates!
  Dolorem, magni dolores nobis qui officiis earum, quasi vitae voluptas fugiat dicta atque quae perspiciatis? Suscipit
  odio enim sapiente placeat quas hic minima iste! Consequatur iure quidem hic dolorem molestias?
  Corporis tempore inventore nihil, soluta assumenda harum, architecto adipisci molestiae dolores, a fugit. Sapiente
  repellat cum delectus consectetur veniam, illum aliquid est alias suscipit nulla hic eum laborum, provident
  recusandae?
  Cupiditate dolores necessitatibus alias nulla nesciunt aliquid eveniet eius omnis voluptatibus officiis veniam et
  labore facere neque illum, harum, explicabo tempora mollitia. Voluptas adipisci autem dolorum at ipsam, nostrum ipsum.
  Quam aperiam officia necessitatibus repellendus ea culpa aut voluptatum harum quas ad quibusdam molestiae hic nesciunt
  dolor labore quo porro debitis, ratione temporibus eveniet consequuntur! Quam numquam obcaecati debitis deserunt!
  Quaerat ullam culpa ea corporis cumque quasi non? Assumenda laborum tempora dolorem quis ratione qui quae? Quae, in.
  Repellat incidunt vero qui temporibus, nihil quibusdam facilis obcaecati distinctio corporis voluptatem?
  Impedit earum rem voluptate voluptatibus rerum fuga deserunt voluptatum unde aliquid, culpa non maxime numquam enim
  similique itaque expedita repudiandae! Culpa dolor doloremque quos quod nostrum modi vero quo porro?
  Veniam quo necessitatibus beatae qui. Nemo labore officia incidunt voluptates saepe corrupti voluptas, placeat
  similique vitae, cupiditate qui rerum eaque, fugit unde reprehenderit esse modi possimus dignissimos? Delectus, dolore
  officiis.
  Quibusdam placeat ipsa neque animi explicabo, ratione fugit eos nihil optio praesentium sit laudantium ipsum saepe.
  Eligendi doloremque sapiente dolores nulla. Tempora, ipsa asperiores sequi iusto quos temporibus sit incidunt?
  Suscipit, repudiandae id temporibus dignissimos voluptas veniam beatae cum? Quo doloribus consequuntur consectetur
  esse officia vero accusantium temporibus reiciendis praesentium, quisquam velit aperiam molestias maxime unde amet
  iure facilis aliquam?
  Ratione autem rerum quas harum et fugiat consequatur ipsum nihil nesciunt consectetur rem, adipisci eveniet odit nam.
  Nam, repellendus accusantium quo, atque laboriosam modi amet alias ullam ipsum unde corporis.
  Officiis mollitia repudiandae cupiditate ullam? Dolorum tempora quis reprehenderit laboriosam? Amet labore hic
  tempore, et, libero, ipsam recusandae omnis cum ea veritatis perferendis iure tempora commodi sit aut consectetur
  aspernatur.
  Perspiciatis voluptate molestias sapiente placeat facere ducimus cupiditate reprehenderit soluta eligendi,
  accusantium, doloribus rerum. Voluptatum placeat quis at neque nobis aut, vitae sed minima fugit recusandae culpa,
  dignissimos ullam nostrum!
  Corporis, enim voluptas modi illum officiis quisquam aliquid voluptate ut asperiores assumenda architecto mollitia
  quaerat veniam tenetur! Adipisci quidem sunt expedita inventore voluptas at, deserunt, quam fuga amet beatae autem!
  Porro amet nostrum voluptatum distinctio voluptate iusto ratione autem quod at fuga reprehenderit rerum incidunt error
  corrupti minima, officia eius nam rem atque suscipit fugiat consectetur expedita? Corporis, doloremque iusto?
  Quaerat nulla nam odio ab quisquam beatae sapiente harum fugit eius, quia laudantium ullam tenetur assumenda! Voluptas
  maiores minus provident ad perspiciatis, ipsa ratione ea enim necessitatibus reprehenderit corrupti consequuntur?
  Ex totam quisquam amet perspiciatis similique iste enim odit optio! Nesciunt, cumque beatae neque assumenda
  consectetur magnam nihil optio perferendis laudantium similique sunt eveniet, tenetur nam, qui delectus nostrum quo.
  Quae hic quisquam iste harum, facilis et similique unde voluptatibus neque reprehenderit quis repellendus totam
  tempore, eaque accusamus aspernatur labore! Ducimus aspernatur nostrum minus sequi quo magnam consequatur id magni!
  Fugit expedita, saepe vitae sunt ea voluptatem aut porro deserunt id, beatae illum voluptatum excepturi quasi fuga
  quis dolorem perspiciatis alias corporis qui nulla. Veniam dolor tempore corrupti hic dolorum?
</main>
<footer class="max-w-5xl mx-auto">
  Footer
</footer>